
/*variable*/
$text: #24272E;
$white: #f3f3f3;
/*set up*/  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 15px;
    color: $text
}
.wrapper {
    overflow-x: hidden;
}

body {
    width: 100%;
}
p, span, a {
    letter-spacing: 1px;
    font-weight: 300;
}
h1, h2, h3, h4, h5{
    letter-spacing: 2px;
    font-weight: 100;
}
a {
    text-decoration: none;
}
@mixin flexCenter {
    display: flex;
    align-items: center;
}



@import './style/home.scss';
@import './style/tours.scss';
@import './style/about.scss';
@import './style/gallary.scss';
@import './style/contact.scss';
@import './style/footer.scss';