$text: #24272E;

@mixin flexCenter {
    display: flex;
    align-items: center;
}

footer {
    width: 100%;
    background-color: #ccc3c3;
    padding-top: 2rem;
    .advs {
        width: 100%;
        @include flexCenter();
        justify-content: center;

        .title {
            margin: 1rem;
            text-align: right;
        }
        .advs-img {
            @include flexCenter();
            justify-content: center;
            .one , .two {
                @include flexCenter();
                .adv {
                    width: 3rem;
                    margin: 1rem;
                        img {
                            width: 100%;
                            object-fit: cover;
                    }
                }
                
            }

        }
        
    }
    .line {
        width: 100%;
        height: 1px;
        background-color: rgb(179, 177, 177);
    }
    
    .withline {
        position: relative;
        margin: 2rem auto;
        @include flexCenter();
        justify-content: center;
        .shortline {
            width: 2rem;
            height: 2px;
            border-radius: 1px;
            background-color: $text;
            margin: auto 1rem;
        }
        .footlogo {
            margin: 0 3px;
                a h1 {
                    font-weight: 900;
                    font-size: 2em;
                    color: $text;
                }
        }
    }

    .info {
        text-align: right;
        padding-right: 1rem;
    }
    .slogen{
        margin: auto;
    }
}

@media screen and (max-width: 768px){
    footer .advs {
        flex-direction: column;
    }
    footer .info {
        text-align: center;
    }
}

@media screen and (max-width: 667px){
    footer .advs .advs-img {
        flex-direction: column;
    }
}