$text: #24272E;
@mixin flexCenter {
    display: flex;
    align-items: center;
}

/* tours */

#tours {
    width: 90%;
    margin: 3rem auto 0;
    .tours-heading {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding-top: 4rem;
        h1 {
        width: 100%;
        padding-bottom: 1rem;
        color: $text;
        }

    }
    .long-tour, .one-day-tour {
        margin: 2rem auto;
        width: 100%;        
        @include flexCenter();
        justify-content: space-evenly;
        letter-spacing: 1px;;
        }
    }
    .one-day-tour {
        margin-top: 5rem;
    }

.long-tour-info, .one-day-tour-info {
    width: 30%;
}
    
.one-day-tour-info ul {
        list-style-image: url('./photo/checked.png');
        width: 100%;
        li {
            padding: 3px 0;
            letter-spacing: 1px;
            margin-left: 1.5rem;
        }
    }
.one-day-tour-info h5 {
    padding: 5px 0 2px 0;
    letter-spacing: 2px;
}



.tour-examples {
    width: 55%;
    display: grid;
    grid-template: repeat(6,1fr) / repeat(7,1fr);
    grid-gap: 0.3rem;
    height: 55vh;

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        pointer-events: none;
        opacity: 0;
        transition: 200ms ease-in-out;
    }
    
    #overlay.active {
        opacity: 1;
        pointer-events: all;
    }
    .tour-img:hover .open-button {
        transform: translate(0, 0);
    }
    .tour-img:hover::before {
        opacity: 0.5;
        
    }
    .tour-img::before{
        content: '';
        width: 100%;
        height: 100%;
        background: white;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        transition: all 100ms ease-in-out;
        opacity: 0;
    }
}
.tour-img {
    position: relative;
    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .open-button {
        position: absolute;
        right:0;
        bottom:0;
        height:100%;
        width: 100%;
        text-decoration: none;
        border: none;
        outline: none;
        cursor: pointer;
        background: none;
        font-size: 1.25rem;
        z-index: 7;
        transform: translate(100% ,0);
        transition: all 100ms ease-in-out;
    }
    
}    
    
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal {
    width: 40%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    padding: 1rem;
    background: white;
    border-radius: 5%;
    z-index: 10;

    .modal-heading {
        @include flexCenter();
        justify-content: space-between;
        .modal-title {
            color: $text;
        }
        .close-button {
            border: none;
            background: none;
            font-size: 30px;
            cursor: pointer;
            outline: none;
        }
    }
    .modal-body{
        padding: 1rem;

    }
}

.long-tour-imgs {
    grid-template-areas: 
    "a a a d d d d"
    "a a a d d d d"
    "b b b d d d d"
    "b b b e e e e"
    "c c c e e e e"
    "c c c e e e e";
    .one {
        grid-area: a;
    }
    .two {
        grid-area: b;
    }
    .three {
        grid-area: c;
    }
    .four {
        grid-area: d;
    }
    .five {
        grid-area: e;
    }
}

.one-day-tour {
    @include flexCenter();
    .one-day-tour-info {
        width: 30%;
    }
    .one-day-tour-info {
        color: $text;
    }
}
.one-day-tour-imgs {
    width: 55%;
    grid-template-areas: 
    "d d d d a a a"
    "d d d d a a a"
    "d d d d b b b"
    "e e e e b b b "
    "e e e e c c c"
    "e e e e c c c";
    .one {
        grid-area: a;
    }
    .two {
        grid-area: b;
    }
    .three {
        grid-area: c;
    }
    .four {
        grid-area: d;
    }
    .five {
        grid-area: e;
    }
}

.long-tour-info-detail {
    width: 100%;
    height: 100vh;
    position: absolute;
    @include flexCenter();
    justify-content: center;
}

.long-tour-info {
    text-align: right;
}

@media screen and (max-width: 1024px) {
    .long-tour{
        flex-direction: column;
        .long-tour-info {
            width: 100%;
            text-align: center;
            margin: 1rem auto;
        }
        .long-tour-imgs {
            width: 100%;
        }
    }
    .modal{
        width: 90%;
    }
    .one-day-tour {
        flex-direction: column;
        width: 100%;
        .one-day-tour-imgs {
            margin: 4rem auto;
            width: 100%;
        }
        .one-day-tour-info {
            width: 100%;
            margin: 1rem auto;
            h1 {
                text-align: center;
            }
        } 
    }
}